# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
env/
.venv/
.idea/
.vscode/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Mac / Linux swap files
*.swp
*.swo

# Byte-compiled / compiled files
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Optional: matplotlib cache
*.png